PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/finance_api_test?schema=public"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=finance_api
JWT_SECRET=secret32
LOG_LEVEL=info