PORT=3002
DATABASE_URL="postgresql://postgres:postgres@localhost:5434/accounts_service?schema=public"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nPASTE_YOUR_GENERATED_PUBLIC_KEY_HERE\n-----END PUBLIC KEY-----\n"
REDIS_URL="redis://localhost:6379"
LOG_LEVEL=info
