PORT=3003
DATABASE_URL="postgresql://postgres:postgres@localhost:5435/transfers_service?schema=public"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nPASTE_YOUR_GENERATED_PUBLIC_KEY_HERE\n-----END PUBLIC KEY-----\n"
ACCOUNTS_SERVICE_URL="http://localhost:3002"
REDIS_URL="redis://localhost:6379"
RABBITMQ_URL="amqp://rabbitmq:rabbitmq@localhost:5672"
LOG_LEVEL=info
EXCHANGE_RATE_API_URL=https://api.frankfurter.dev/v1
EXCHANGE_RATE_TIMEOUT_MS=3000