PORT=3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/auth_service?schema=public"
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPASTE_YOUR_GENERATED_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
LOG_LEVEL=info
